<!DOCTYPE html>
<html>
<head>
  <link href="/css/style1.css" rel="stylesheet" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  * {
    box-sizing: border-box;
  }

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 0.80px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  border-color: #4CAF50;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5.3px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: sandybrown;
  padding: 20px;
  width: 45%;
  margin-top: 120px;
}


.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
</style>
</head>
<body>


<div class="container">
  <form method="POST" action="/pantaloni/aggiungi">

    <div class="row">
      <div class="col-25">
        <label for="fname"><b>Marca</b></label>
      </div>
      <div class="col-75">
        <input type="text" id="marca" name="marca" placeholder="Nome della marca..">
      </div>
    </div>


    <div class="row">
      <div class="col-25">
        <label for="country"><b>Taglia</b></label>
      </div>
      <div class="col-75">
        <select id="taglia" name="taglia">
          <option value="xs">XS</option>
          <option value="s">S</option>
          <option value="m">M</option>
          <option value="l">L</option>
          <option value="xl">XL</option>
          <option value="xxl">XXL</option>
        </select>
      </div>
    </div>


        <div class="row">
          <div class="col-25">
            <label for="lname"><b>Prezzo</b></label>
          </div>
          <div class="col-75">
            <input type="text" id="prezzo" name="prezzo" placeholder="Prezzo del capo..">
          </div>
        </div>

    <div class="row">
      <div class="col-25">
        <label for="subject"><b>Descrizione</b></label>
      </div>
      <div class="col-75">
        <textarea id="descrizione" name="descrizione" placeholder="Descrivi il capo" style="height:200px"></textarea>
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="lname"><b>Tessuto</b></label>
      </div>
      <div class="col-75">
        <input type="text" id="tessuto" name="tessuto" placeholder="Prezzo del capo..">
      </div>
    </div>

<br>
    <div class="row">
      <input type="submit" value="Aggiungi">
    </div>

  </form>
</div>





</body>
</html>
